In [1]:
a = (1,2,3,4,"madrid")
print(type(a))

<class 'tuple'>

In [2]:
#Tupple data is immutable
b = (1,2,3,4,5,6,7,8,9,10)
b

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
#print first tuple data
b[:1]

(1,)

In [4]:
#print full full tuple data
b[::1]

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [5]:
#print all tuple data without last number
b[:-1]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
#print reverse 
b[::-1]

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [7]:
#if i want to print reverse tuple data type by .reverse its not working 
b.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [9]:
b = (1,2,3,4,5,6,7,8,9,10)
print(3 in b)

True

In [10]:
b = ("apple","mango","banan")
if "apple" in b:
    print("yes this is in list")
else:
    print("not this is not in ")

yes this is in list

In [11]:
b = ("apple","mango","banan")
if "cherry" in b:
    print("yes this is in list")
else:
    print("not this is not in ")

not this is not in