In [162]:
user_id = "101,102,103,104,105,106,107"
name = "ali, Sara, JOHN, ALI, Null, amir, Amir"
Age = "25, Null, twenty, 25, 30, 28, 28"
Email = "ali@gmail.com , saraemai.com, john@gmail.com, ali@gmail.com, Null, amir@gmail.com, amir@gmail.com"
phone = "9876543210, 98765, Null, 9876543210, 9999999999, abcdefghij, abcdefghij"
country = "india, india, USA, india, Null, Pakistan, Pakistan"
salary = "30000, 40000, Null, 30000, 50000, 45000, 45000"
join_date = "2023-01-10, 10/02/2023, 2023.03.15, 2023-01-10, March 20 2023, Null, Null"

user_id = user_id.split(",")
name = name.split(",")
Age = Age.split(",")
Email = Email.split(",")
phone = phone.split(",")
country = country.split(",")
salary = salary.split(",")
join_date = join_date.split(",")

user_id = [x.strip() for x in user_id]
name = [x.strip() for x in name]
Age = [x.strip() for x in Age]
Email = [x.strip() for x in Email]
phone = [x.strip() for x in phone]
country = [x.strip() for x in country]
salary = [x.strip() for x in salary]
join_date = [x.strip() for x in join_date]

data = []

for i in range(len(user_id)):
    row = {
        "user_id"  : user_id[i],
        "name"     : name[i],
        "Age"      : Age[i],
        "Email"    : Email[i],
        "phone"    : phone[i],
        "country"  : country[i],
        "salary"   : salary[i],
        "join_date": join_date[i],
    }
    data.append(row)

In [163]:
user_id = "101,102,103,104,105,106,107"
name = "ali, Sara, JOHN, ALI, Null, amir, Amir"
Age = "25, Null, twenty, 25, 30, 28, 28"
Email = "ali@gmail.com , saraemai.com, john@gmail.com, ali@gmail.com, Null, amir@gmail.com, amir@gmail.com"
phone = "9876543210, 98765, Null, 9876543210, 9999999999, abcdefghij, abcdefghij"
country = "india, india, USA, india, Null, Pakistan, Pakistan"
salary = "30000, 40000, Null, 30000, 50000, 45000, 45000"
join_date = "2023-01-10, 10/02/2023, 2023.03.15, 2023-01-10, March 20 2023, Null, Null"

user_id = user_id.split(",")
name = name.split(",")
Age = Age.split(",")
Email = Email.split(",")
phone = phone.split(",")
country = country.split(",")
salary = salary.split(",")
join_date = join_date.split(",")

user_id = [x.strip() for x in user_id]
name = [x.strip() for x in name]
Age = [x.strip() for x in Age]
Email = [x.strip() for x in Email]
phone = [x.strip() for x in phone]
country = [x.strip() for x in country]
salary = [x.strip() for x in salary]
join_date = [x.strip() for x in join_date]

data = []

for i in range(len(user_id)):
    row = {
        "user_id"  : user_id[i],
        "name"     : name[i],
        "Age"      : Age[i],
        "Email"    : Email[i],
        "phone"    : phone[i],
        "country"  : country[i],
        "salary"   : salary[i],
        "join_date": join_date[i],
    }
    data.append(row)
print(data)

[{'user_id': '101', 'name': 'ali', 'Age': '25', 'Email': 'ali@gmail.com', 'phone': '9876543210', 'country': 'india', 'salary': '30000', 'join_date': '2023-01-10'}, {'user_id': '102', 'name': 'Sara', 'Age': 'Null', 'Email': 'saraemai.com', 'phone': '98765', 'country': 'india', 'salary': '40000', 'join_date': '10/02/2023'}, {'user_id': '103', 'name': 'JOHN', 'Age': 'twenty', 'Email': 'john@gmail.com', 'phone': 'Null', 'country': 'USA', 'salary': 'Null', 'join_date': '2023.03.15'}, {'user_id': '104', 'name': 'ALI', 'Age': '25', 'Email': 'ali@gmail.com', 'phone': '9876543210', 'country': 'india', 'salary': '30000', 'join_date': '2023-01-10'}, {'user_id': '105', 'name': 'Null', 'Age': '30', 'Email': 'Null', 'phone': '9999999999', 'country': 'Null', 'salary': '50000', 'join_date': 'March 20 2023'}, {'user_id': '106', 'name': 'amir', 'Age': '28', 'Email': 'amir@gmail.com', 'phone': 'abcdefghij', 'country': 'Pakistan', 'salary': '45000', 'join_date': 'Null'}, {'user_id': '107', 'name': 'Amir', 'Age': '28', 'Email': 'amir@gmail.com', 'phone': 'abcdefghij', 'country': 'Pakistan', 'salary': '45000', 'join_date': 'Null'}]

In [164]:
user_id = "101,102,103,104,105,106,107"
name = "ali, Sara, JOHN, ALI, Null, amir, Amir"
Age = "25, Null, twenty, 25, 30, 28, 28"
Email = "ali@gmail.com , saraemai.com, john@gmail.com, ali@gmail.com, Null, amir@gmail.com, amir@gmail.com"
phone = "9876543210, 98765, Null, 9876543210, 9999999999, abcdefghij, abcdefghij"
country = "india, india, USA, india, Null, Pakistan, Pakistan"
salary = "30000, 40000, Null, 30000, 50000, 45000, 45000"
join_date = "2023-01-10, 10/02/2023, 2023.03.15, 2023-01-10, March 20 2023, Null, Null"

print( "user_id|   Name  | AGE |   EMAIL      |  PHONE   |  COUNTRY  |  SALARY  |  JOIN_DATE")
print( " 101   |   ALI   | 25  | ali@gmail.com|9876543210|   INDIA   |  30000   |2023-01-10") 
print( " 102   |   SARA  | null|saraemail.com |9876      |   INDIA   |  40000   |2023-02-10")  
print("" * 80)

user_id|   Name  | AGE |   EMAIL      |  PHONE   |  COUNTRY  |  SALARY  |  JOIN_DATE
 101   |   ALI   | 25  | ali@gmail.com|9876543210|   INDIA   |  30000   |2023-01-10
 102   |   SARA  | null|saraemail.com |9876      |   INDIA   |  40000   |2023-02-10

In [168]:
user_id = "101,102,103,104,105,106,107"
name = "ali, Sara, JOHN, ALI, Null, amir, Amir"
Age = "25, Null, twenty, 25, 30, 28, 28"
Email = "ali@gmail.com , saraemai.com, john@gmail.com, ali@gmail.com, Null, amir@gmail.com, amir@gmail.com"
phone = "9-876543 210, 98765, Null, 98765 43210, 9999999999, abcdefghij, abcdefghij"
country = "india, india, USA, india, Null, Pakistan, Pakistan"
salary = "30000, 40000, Null, 30000, 50000, 45000, 45000"
join_date = "2023-01-10, 10/02/2023, 2023.03.15, 2023-01-10, March 20 2023, Null, Null"

clean_name = name.strip().title()
clean_age = Age.replace('twenty','20')
clean_email = Email.lower()
valid_email = ("@" in clean_email)and ("." in clean_email)
clean_phone = phone.replace("-", "")and(" ", "")
clean_country = country.upper()
clean_salary = salary
clean_date = join_date

summary = f"""
______________________________________________________________________
NAME         :{clean_name}
AGE          :{clean_age}
EMAIL        :{clean_email}
VALID MAIL   :{valid_email}
PHONE        :{clean_phone}
COUNTRY      :{clean_country}
SALARY       :{clean_salary}
JOINING DATE :{clean_date}

"""
print(summary)

______________________________________________________________________
NAME         :Ali, Sara, John, Ali, Null, Amir, Amir
AGE          :25, Null, 20, 25, 30, 28, 28
EMAIL        :ali@gmail.com , saraemai.com, john@gmail.com, ali@gmail.com, null, amir@gmail.com, amir@gmail.com
VALID MAIL   :True
PHONE        :(' ', '')
COUNTRY      :INDIA, INDIA, USA, INDIA, NULL, PAKISTAN, PAKISTAN
SALARY       :30000, 40000, Null, 30000, 50000, 45000, 45000
JOINING DATE :2023-01-10, 10/02/2023, 2023.03.15, 2023-01-10, March 20 2023, Null, Null

In [169]:
print(df)

   user_id  name   Age           Email       phone   country   salary  \
0      101   Ali  25.0   ali@gmail.com  9876543210     INDIA  30000.0
1      102  Sara   NaN    saraemai.com        <NA>     INDIA  40000.0
2      103  John  20.0  john@gmail.com         NaN       USA      NaN
3      104   Ali  25.0   ali@gmail.com         NaN     INDIA  30000.0
4      105  None  30.0            None  9999999999      None  50000.0
5      106  Amir  28.0  amir@gmail.com         NaN  PAKISTAN  45000.0
6      107  Amir  28.0  amir@gmail.com         NaN  PAKISTAN  45000.0

   valid_mail
0        True
1       False
2        True
3        True
4       False
5        True
6        True

In [173]:
print(df)

# 1: remove duplicate names
df = df.loc[ :, ~df.columns.duplicated()]

# 2 : remove duplicate column data
df = df.loc[:, ~df.T.duplicated()]

print(df.columns)

   user_id  name   Age           Email       phone   country   salary  \
0      101   Ali  25.0   ali@gmail.com  9876543210     INDIA  30000.0
1      102  Sara   NaN    saraemai.com        <NA>     INDIA  40000.0
2      103  John  20.0  john@gmail.com         NaN       USA      NaN
3      104   Ali  25.0   ali@gmail.com         NaN     INDIA  30000.0
4      105  None  30.0            None  9999999999      None  50000.0
5      106  Amir  28.0  amir@gmail.com         NaN  PAKISTAN  45000.0
6      107  Amir  28.0  amir@gmail.com         NaN  PAKISTAN  45000.0

   valid_mail
0        True
1       False
2        True
3        True
4       False
5        True
6        True
Index(['user_id', 'name', 'Age', 'Email', 'phone', 'country', 'salary',
       'valid_mail'],
      dtype='object')

In [184]:
print(df)

# 1: remove duplicate names
df = df.loc[ :, ~df.columns.duplicated()]

# 2 : remove duplicate column data
df = df.loc[:, ~df.T.duplicated()]

# CLEAN COLUMN VALUES
# clean name
df["name"] = df["name"].str.title().str.strip()

#CLEAN EMAIL
df["Email"] = df["Email"].str.lower().str.strip()

# CLEAN VALID EMAIL
df["valid_mail"] = df["Email"].apply(
    lambda x: isinstance(x, str) and "@" in x and "." in x
)

#CLEAN PHONE NUMBER
import pandas as pd 
df["phone"] = pd.to_numeric(df["phone"], errors="coerce")
df.loc[df["phone"].astype(str).str.len() != 10, "phone"] = pd.NA

# REMOVE DUPLICATE ROWS 
df[df.duplicated()]
#remove all duplicate rows
df = df.drop_duplicates()

# REMOVE DUPLICATES BASED ON IMPORTANT COLUMNS ONLY
df = df.drop_duplicates(subset=["Email","phone"], keep="first")

# RESET INDEX EXCEL LIKE VIEW
df = df.reset_index(drop=True)

print(df)

   user_id  name   Age           Email  phone   country   salary  valid_mail
0      101   Ali  25.0   ali@gmail.com    NaN     INDIA  30000.0        True
1      102  Sara   NaN    saraemai.com    NaN     INDIA  40000.0       False
2      103  John  20.0  john@gmail.com    NaN       USA      NaN        True
3      105  None  30.0            None    NaN      None  50000.0       False
4      106  Amir  28.0  amir@gmail.com    NaN  PAKISTAN  45000.0        True
   user_id  name   Age           Email  phone   country   salary  valid_mail
0      101   Ali  25.0   ali@gmail.com    NaN     INDIA  30000.0        True
1      102  Sara   NaN    saraemai.com    NaN     INDIA  40000.0       False
2      103  John  20.0  john@gmail.com    NaN       USA      NaN        True
3      105  None  30.0            None    NaN      None  50000.0       False
4      106  Amir  28.0  amir@gmail.com    NaN  PAKISTAN  45000.0        True

In [2]:
stored_dat=[11,12,13,14,15,16,17,18,19,20]
even_data=[12,14,16,18,20]
odd_data=[11,13,15,17,19]

A=odd_data
B=even_data

A=int(input("ENTER ODD NUMBERS"))
B=int(input("ENTER EVEN NUMBERS"))
if A == odd_data:
    print("correct")
elif B == even_data:
    print(correct)
else:
    print("wrong")

ENTER ODD NUMBERS 11,13,15,17,19

ValueError: invalid literal for int() with base 10: '11,13,15,17,19'

In [6]:
stored_dat=[11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
odd.extend([11,13,15,17,19])
even.extend([12,14,16,18,20])
print(odd)
print(even)

[11, 13, 15, 17, 19]
[12, 14, 16, 18, 20]

In [34]:
x=[11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for a in x:
    if a % 2 == 0:
        even.append(a)
    else:
        odd.append(a)
print("even numbers:", even)
print("odd numbers:", odd)

even numbers: [12, 14, 16, 18, 20]
odd numbers: [11, 13, 15, 17, 19]

In [32]:
12 % 2

0

In [36]:
x=[11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for a in x:
    if a % 2 == 0:
        even.append(a)
else:
    odd.append(a)
    print("even numbers", even)
    print("odd numbers", odd)

even numbers [12, 14, 16, 18, 20]
odd numbers [20]

In [37]:
x = [11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for a in x:
    if a % 2 == 0:
        even.append(a)
    else:
        odd.append(a)
print("even numbers", even)
print("odd numbers", odd)

even numbers [12, 14, 16, 18, 20]
odd numbers [11, 13, 15, 17, 19]

In [38]:
x = [11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for a in x:
    if a % 2 == 1:
        odd.append(a)
    else:
        even.append(a)
print("odd numbers", odd)
print("even numbers", even)

odd numbers [11, 13, 15, 17, 19]
even numbers [12, 14, 16, 18, 20]

In [40]:
x = [11,12,13,14,15,16,17,18,19,20]
odd=[]
even=[]
for a in x:
    if a % 2 != 0:
        odd.append(a)
    else:
        even.append(a)
print("odd numbers", odd)
print("even numbers", even)

odd numbers [11, 13, 15, 17, 19]
even numbers [12, 14, 16, 18, 20]